@import "compass/reset";
@import "compass/css3";

// Global Vars
$teal: #2ABABB;
$coral:#E14943;
$lightCoral:#FD938F;
$kindaBlack: #2E3036;
$kindaGrey: #5A6071;
$kindaGreen: #51CAA0;

$hdrFF: 'Montserrat', sans-serif;

@import "_splash.scss";
@import "_about-me.scss";
@import "_work.scss";
@import "_education.scss";
@import "_skills.scss";


body,html {
    height:100%;
    overflow:hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

#sec-container {

    // common
    [data-sec="splash"] { background-color:$teal; }
    [data-sec="about-me"] { background-color:$coral; }
    [data-sec="work"] { background-color:$kindaBlack; }
    [data-sec="education"] { background-color:$kindaGrey; }
    [data-sec="skills"] { background-color:$kindaGreen; }

    &,
    .secs {
        position:relative;
        height:100%;
    }

    // nav
    #sec-nav {
        list-style:none;
        position:absolute;
        left:20px;
        top:50%;
        margin-top:(-30px * 5)/2;
        z-index:2;
        li {
            display:block;
            font-size:0;
            p {
                display:inline-block;
                visibility:hidden;
                font-size:13px;
                margin-left:5px;
                vertical-align:middle;
                color:#ececec;
            }

            a {
                display:inline-block;
                vertical-align:middle;
                width:25px;
                height:30px;
            }
            a,
            a:hover,
            a:visited {
                text-decoration:none;
            }

            &:hover p {visibility:visible; }
        }
    }

    // sections
    .sec {
        height:100%;
        position:relative;
    }

    .vc {
        @include transform(translateY(-50%));
        position:absolute;
        right:0;
        top:50%;
    }

    .sec-inner {
        width:70%;
        padding:50px;
        background-color: rgba(0, 0, 0, 0.05);
    }


    // common sections
    .hd {
        font-family: $hdrFF;
        font-size:50px;
        margin-bottom:40px;
    }

    .bd {
        font-size:18px;
        font-weight:100;
    }

    .timeline {
        color:#ccc;
        font-size:15px;
        display:inline-block;
        letter-spacing: 0.02em;
    }


    @include splash();
    @include aboutMe();
    @include work();
    @include education();
    @include skills();
}
